*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.env.local
.env.development.local
.env.test.local
.env.production.local

/androidrestapi/npm-debug.log*
/androidrestapi/yarn-debug.log*
/androidrestapi/yarn-error.log*

/androidrestapi/node_modules
/androidrestapi/.pnp
/androidrestapi/.pnp.js

/androidrestapi/coverage